*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form{
    background-image: linear-gradient(135deg, #5a94c7, #6f4f8d);

    border-radius: 3%;
    margin-left: 50%;
    transform: translate(-50%,25%);
    width: 20vw;
    box-shadow: #242423;
    padding: 1rem;
    box-shadow: 5px 5px 15px rgb(77, 75, 75);
}

h2{
    text-align: center;
    padding: 1rem;
    color:white;
}

.link{
    font-size: 0.8rem;
}
span{
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
}
input{
    border:none;
    width: 100%;
    padding: 0.5rem;
    border-radius: 22px;
    border-bottom: 1px solid rgb(85, 85, 84);;
}
input[type="radio"]{
    height:15px;
    width:20px;
    padding: 0.5rem;
}

input:focus{
    opacity: 0.6;
    color: rgb(77, 75, 75);
}

.btn_primary{
    background-color: #242423;
    color: white;
    border: none;
    padding: 0.625rem;
    font-size:1rem;
    transition: 0.5s;
    border-radius: 22px;
 
    font-weight: 800;
}
.btn_primary:hover{
    background-color: white;

    color: #242423;
}
.btn_secondary{
    background-color:white;
    color:  #242423;
    padding: 0.625rem;
    font-size:1rem;
    transition: 0.5s;
    font-weight: 800;
    border: 1px solid #242423;
    border-radius: 22px;

}
.btn_secondary:hover{
    background-color: #242423;
    color: white;
    border:none;
}
#signup{
    display: none;
}
  
